	{{> header}}
<div class="container mt-5">
	{{#with studentRequest}}
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="page-title">
				<span>Chi tiết yêu cầu</span>
			</div>
		</div>
	</div>
	<!-- row -->
	<div class="row tm-content-row">

		<div class="tm-block-col tm-col-request-settings">
			<div class="tm-bg-primary-dark tm-block tm-block-settings">
				<h2 class="tm-block-title">YÊU CẦU TÌM GIA SƯ</h2>
				<div class="about-request">
					
					<div class="row">
						<div class="col-md-5">
							<label>ID</label>
						</div>
						<div class="col-md-7">
							<p>{{student_request_id}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Điện thoại</label>
						</div>
						<div class="col-md-7">
							<p>{{phone}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Địa chỉ</label>
						</div>
						<div class="col-md-7">
							<p>{{address}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Lớp</label>
						</div>
						<div class="col-md-7">
							<p>{{grade}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Môn học</label>
						</div>
						<div class="col-md-7">
							<p>{{subject}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Lương </label>
						</div>
						<div class="col-md-7">
							<p>{{salary}} vnđ</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Thời gian </label>
						</div>
						<div class="col-md-7">
							<p>{{time}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Yêu cầu khác</label>
						</div>
						<div class="col-md-7">
							<p>{{other_request}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Trạng thái</label>
						</div>
						<div class="col-md-7">
							<p>{{status}}</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-center">
		<button class="btn accept-btn-primary btn-primary me-md-2 option" type="button">Tạo lớp mới</button>
		<form action="/requests/student-requests/cancel" method="post">
			<input id="userType" name="userType" value="student" type="text" hidden>
			<input id="id" name="id" type="number" value={{student_request_id}} hidden>
			<button class="btn denied-btn-danger btn-danger option" type="submit">Hủy yêu cầu</button>
		</form>
	</div>
	{{/with}}
</div>
{{> footer}}
