	{{> header}}
<div class="container mt-5">
	<div class="page-title ml-3 mb-4">
		<h4>Yêu cầu nhận lớp</h4>
	</div>
	<div class="col-12">
		<div class="tm-bg-primary-dark">

			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Số điện thoại</th>
						<th scope="col">Hình thức thanh toán</th>
						<th scope="col">Trạng thái</th>
						<th scope="col">Thao tác</th>
					</tr>
				</thead>
				<tbody>
					{{#each tutorRequests}}
					<tr>
						<th scope="row"><b>{{tutor_request_id}}</b></th>
						<td><b>{{phone}}</b></td>
						<td><b>{{payment_option}}</b></td>
						<td><b>{{status}}</b></td>
						<td>
							<a
								class="tm-product-delete-link"
								href="/requests/tutor-requests/{{tutor_request_id}}"
							>
								<i class="fas fa-eye tm-product-delete-icon"></i>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{> footer}}
