	{{> header}}
<div class="container mt-5">
	<div class="page-title">
		<span>Yêu cầu tìm kiếm gia sư</span>
	</div>
	<div class="col-12">
		<div class="tm-bg-primary-dark" style="overflow-x: scroll"> 

			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Điện thoại</th>
						<th scope="col">Địa chỉ</th>
						<th scope="col">Trạng thái</th>
						<th scope="col">Thao tác</th>
					</tr>
				</thead>
				<tbody>
					{{#each studentRequests}}
						<tr>
							<th scope="row"><b>{{student_request_id}}</b></th>
							<td><b>{{phone}}</b></td>
							<td><b>{{address}}</b></td>
							<td><b>{{status}}</b></td>
							<td>
								<a
								class="tm-product-delete-link"
<<<<<<< Updated upstream
								href="/requests/student-requests/{{student_request_id}}"
							>
								<i class="fas fa-eye"></i>
=======
								href="/my-request/{{student_request_id}}">
								<i class="fas fa-eye ml-4"></i>
>>>>>>> Stashed changes
							</a>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{> footer}}
