<div class="login-form forgot-form">
    <div class="row justify-content-center message-block">
        {{#if error}}
        <div class="alert alert-danger col-12 col-md-6">
            <p class="text-center message">{{error}}</p>
        </div>
        {{else}}
            {{#if success}}
                <div class="alert alert-success col-12 col-md-6">
                    <p class="text-center message">{{success}}</p>
                </div>
            {{else}}
                 <div class="col-12 col-md-6">
                    <p class="text-center message"></p>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="row justify-content-around">
        <div class="col-lg-4 col-md-5 col-12">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Đặt lại mật khẩu</h4>
                    <hr />
                    <br />
                    <form action="/reset-password" method="POST" id="form-forgot-password">
                        <div class="form-group">
                            <input name="email" value="{{email}}" id="email-reset-password" hidden>
                            <input name="token" value="{{token}}" id="token-reset-password" hidden>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="password-reset-password"> <i class="fa fa-lock"></i> </label>
                                </div>
                                <input name="password" class="form-control" placeholder="Mật khẩu" type="password" id="password-reset-password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="retype-password-reset-password"> <i class="fa fa-lock"></i> </label>
                                </div>
                                <input name="retypePassword" class="form-control" placeholder="Nhập lại mật khẩu" type="password" id="retype-password-reset-password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-login-submit" id="btn-reset-password-submit">Tiếp tục</button>
                        </div> <!-- form-group// -->
                        <div class="error-block">
                            <p class="text-danger text-center" id="forgot-password-err-notification"></p>
                        </div>
                    </form>
                        <p class="text-center login-text">Đã nhớ mật khẩu?<a href="/login" class="login-choice"> Đăng nhập</a></p>
                </article>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-10" > 
            <img src="/img/forgot_password.svg" alt="" class="svg-image">
        </div>
    </div>
</div>

