{{> header}}
<div class="container postList col-lg-9 col-md-11 col-mb-12 mb-4">
    <h1>Danh sách gia sư</h1>
    <div class="row">
        {{> search}}
        {{#each tutorList}}
        <div class="col-lg-4 col-md-6 col-mb-12 mb-3 px-2">
            <div class="post p-3">
                <div class="row header-info mb-3">
                    <div class="col-4">
                        <img class="tutor-img"
                            src="{{avatar}}"
                            onerror="src='/img/user_avatar.png'">
                    </div>
                    <div class="col-8 pl-4 my-auto">
                        <h2 class="name">{{fullname}}</h2>
                        <p>Giới tính: {{#if gender}} Nữ {{else}} Nam {{/if}}</p>
                        {{!-- <p>SĐT: 0123456***</p> --}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="subject" class="form-label">Môn dạy</label>
                        <input readonly type="text" class="form-control" name="subject" value="{{subject}}">
                    </div>
                    <div class="form-group">
                        <label for="grade" class="form-label">Lớp</label>
                        <input readonly type="text" class="form-control" name="grade" value="{{grade}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Khu vực dạy</label>
                    <textarea rows="2" readonly type="text" class="form-control" name="address"
                        name="address">{{address}}</textarea>
                </div>

                <div class="form-group">
                    <label for="grade" class="form-label">Công việc hiện tại</label>
                    <input readonly type="text" class="form-control" name="grade" value="{{job}}">
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>
{{> footer}}