{{> header}}
<div class="container postList col-lg-9 col-md-11 col-mb-12 mb-4">
    <h1>Danh sách bài viết tìm gia sư</h1>
    <div class="row">
        {{> search}}

        {{#each posts}}
        <div class="col-lg-4 col-md-6 col-mb-12 mb-3 px-2">
            <div class="post p-3">
                <div class="form-group" >
                    <label for="id" class="form-label">Mã bài đăng</label>
                    <span class="badge rounded-pill bg-light text-dark" style="font-size: 18px">{{post_id}}</span>
                </div>
                <div class="form-group" style="display: flex;flex-wrap: wrap;">
                    <div class="form-group inline" style="width:66%;">
                        <label for="subject" class="form-label">Môn học</label>
                        <input readonly type="text" class="form-control" name="subject" value="{{subject}}">
                    </div>
                    <div class="form-group inline" style="width:30%;margin-left:4%;">
                        <label for="grade" class="form-label">Lớp</label>
                        <input readonly type="text" class="form-control" name="grade" value="{{grade}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <textarea rows="2" readonly type="text" class="form-control" name="address"
                        name="address">{{address}}</textarea>
                </div>

                <div class="form-group" style="display: flex;flex-wrap: wrap;">
                    <div class="form-group inline" style="width:66%;">
                        <label for="salary" class="form-label">Lương/tháng(vnđ/m)</label>
                        <input readonly type="text" class="form-control" name="salary" value="{{salary}}">
                    </div>
                    <div class="form-group inline" style="width:30%;margin-left:4%;">
                        <label for="tuition" class="form-label">Phụ phí(%)</label>
                        <input readonly type="number" class="form-control" name="tuition" value="{{extra_fee}}">
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label for="otherrequest" class="form-label">Yêu cầu khác</label>
                    <textarea rows="3" readonly type="text" class="form-control"
                        name="otherrequest">{{other_request}}</textarea>
                </div>

                <div class="btn-box">
                    <form action="/tutors/send-request">
                        <button type="button" class="btn btn-info btn-lg btn-request-form p-2" data-toggle="modal"
                            data-target="#myModal">Yêu
                            cầu nhận lớp</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}

        {{#if user.tutor_id}}
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">

                <!-- Modal content-->
                <div class="modal-content rounded-4">
                    <div class="modal-header">
                        <h4 class="modal-title text-left">Form yêu cầu nhận lớp</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-request" action="/tutors/store-request" method="POST">
                            <div class="form-group mb-3">
                                <label for="fidpost" class="form-label">Mã bài đăng</label>
                                <input type="text" class="form-control" id="fidpost" value="BD001" name="idpost"
                                    readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="fphone" class="form-label">Số điện thoại (<span
                                        style="color: red">*</span>)</label>
                                <input type="tel" class="form-control" id="fphone" placeholder="Ví dụ: 0323231141"
                                    name="phone" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="fpay" class="form-label">Hình thức thanh toán (<span
                                        style="color: red">*</span>)</label>
                                <select class="form-select w-100" id="fpay" name="payMethod" required>
                                    <option value="Chuyển khoản">Chuyển khoản</option>
                                    </option>
                                    <option value="Đến trung tâm">Thanh toán trưc tiếp tại trung tâm</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="fdifferent" class="form-label">Yêu cầu khác (nếu có)</label>
                                <input type="text" class="form-control" id="fdifferent" placeholder="" name="different"
                                    value="">
                            </div>

                            <div class="form-group mb-2">
                                <button type="submit" class="btn btn-success mb-3 w-100 f-btn">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{> footer}}
