<link rel="stylesheet" href="/css/19120695.css">

{{> header}}
<div class="container">
    <div class="col-12 mt-5">
        <div class="page-title">
            <span>Danh sách bài đăng</span>
        </div>
        {{> search}}
    </div>
    <div class="container-table100" style="margin-top:-32px">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">ID Bài viết</th>
                                <th class="cell100 column2">User ID</th>
                                <th class="cell100 column1">Môn học với gia sư</th>
                                <th class="cell100 column2">Trạng thái</th>
                                <th class="cell100 column2"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            {{#each posts}}
                            <tr class="row100 body">
                                <td class="cell100 column1">{{post_id}}</td>
                                <td class="cell100 column2">{{student_request_id}}</td>
                                <td class="cell100 column1">{{subject}}</td>

                                <td class="cell100 column2">{{'student_request.status'}}</td>
                                <td class="cell100 column2">
                                    <a class="dropdown-item item-more dropdown-item-edit text-center pr-0 rounded"
                                        href="/posts/edit/{{post_id}}">
                                        <i class="far fa-edit"></i>&nbsp;&nbsp;&nbsp;</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
